body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Lucida Grande", Tahoma, Helvetica, sans-serif;
  font-size: 12px;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
	margin: 0;
	color: blue;
}

strong {
	color: black;
}

ul, ol {
  margin: 0;
  list-style: decimal;
}

li {
	margin: 5px 0 5px 0;
}

a { 
  color: #666; 
}

a:hover { 
  color: blue;
}

a img {
  border: none;
}

.left {
	float: left;
	margin: 10px 40px 20px 25px;
	width: 256px;
	display: inline-block;
}

img.left {
  float: left;
  margin: 7px 20px 0 0;
  width: 256px;
  display: inline-block;
}

.right {
	float: right;
	width: 256px;
	margin: 10px 25px 20px 40px;
	display: inline-block;
}

img.right {
  float: right;
  width: 256px;
  margin: 7px 0 0 20px;
  display: inline-block;
}

img.center {
  float: center;
  width: 256px;
  margin: 7px 0 0 0;
  display: inline-block;
}

#page {
	background-color: #fff;
	width: 900px;
	margin: 0 auto;
}

/* Content */

#content {
  float: left;
  width: 860px;
  padding: 20px 0 50px 0;
}

.imgtxt {
	color: #999;
	margin: 10px 25px 5px 25px;
}

p.imgtxt {
	color: #999;
	margin: 10px 0 0 0;
}